.wrapper {
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    text-align: center;
}

.wrapper > img {
    width: 25%;
}

.title-app {
    margin: 2rem 1rem;
    line-height: 1.3;
    font-size: 2rem;
    text-align: center;
    max-width: 550px;
    -webkit-letter-spacing: -0.02em;
    -moz-letter-spacing: -0.02em;
    -ms-letter-spacing: -0.02em;
    letter-spacing: -0.02em;
}

.form-pesquisa {
    padding-top: 15px;
}

.search-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 0px auto;
    -webkit-transition: border-color 100ms ease-in 0s;
    transition: border-color 100ms ease-in 0s;
}

.search-icon {
    margin: 3px 14px 0 14px;
}

.search-button {
    margin-top: 10px;
}