table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    height: 35px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    text-align: center;
}

.tab-header {

    padding-top: 15px;
    display: flex;
    align-items: center;

    justify-content: space-between;

    text-align: center;
}

.tab-header input {
    height: 28px;

    border-radius: 5px;
    border: 1px solid #888;

    padding: 0 5px;
}