<div class="main-wrapper">
	<header>
		<div class="title-name" style="color: white;">
			<h3>
				Porcure um Pokemon por <strong>Nome</strong> ou <strong>ID</strong>
			</h3>
		</div>
	</header>
	   
	<body>
		<div class="search-container">
			<input style="max-width: 300px;" class="form-control" id="input-pokemon" type="text" placeholder="O que deseja buscar?" />
			
			<div id="search-btn" class="ball-container" ng-click="buscarPokemon(nome)">
				<div class="upper-half-ball"></div>
				<div class="bottom-half-ball"></div>
				<div class="center-ball"></div>
				<div class="center-line"></div>
			</div>
		</div>
		
		<div id="pokedex">
		<!-- Left Panel -->
		<div id="left-panel">
		<!-- Top lights -->
		<div class="left-top-container">
			<svg height="100" width="225" class="left-svg">
			<polyline
				points="0,75 70,75 90,38 224,38"
				style="fill: none; stroke: black; stroke-width: 3"
			/>
			</svg>
			<div class="lights-container">
			<div class="big-light-boarder">
				<div class="big-light blue">
				<div class="big-dot light-blue"></div>
				</div>
			</div>
			<div class="small-lights-container">
				<div class="small-light red">
					<div class="dot light-red"></div>
				</div>
				<div class="small-light yellow">
					<div class="dot light-yellow"></div>
				</div>
				<div class="small-light green">
					<div class="dot light-green"></div>
				</div>
			</div>
			</div>
		</div>
		<!-- Center Screen -->
		<div class="screen-container">
			<div class="screen">
			<div class="top-screen-lights">
				<div class="mini-light red"></div>
				<div class="mini-light red"></div>
			</div>
			<div id="main-screen">
				<!--foto do pokemon-->
					<div class="pokemon-image" ng-if="showPokemonPhoto" style="text-align: center;">
						<img style="max-width: 150px; max-height: 150px;" src={{pokemon.sprites.front_default}} alt="pokemon-photo" style="width: 200px"> 
					</div>
			</div>
			<div class="bottom-screen-lights">
				<div class="small-light red">
				<div class="dot light-red"></div>
				</div>
				<div class="burger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				</div>
			</div>
			</div>
		</div>
		<!-- Bottom Buttons -->
		<div class="buttons-container">
			<div class="upper-buttons-container">
			<div class="big-button"></div>
			<div class="long-buttons-container">
				<div class="long-button red"></div>
				<div class="long-button light-blue"></div>
			</div>
			</div>
			<div class="nav-buttons-container">
			<div class="dots-container">
				<div>.</div>
				<div>.</div>
			</div>
			<div class="green-screen">
				<span id="name-screen">{{pokemon.name}}</span>
			</div>
			<div class="right-nav-container">
				<div class="button-nav-wrapper" style="width: 40px; display: flex; justify-content: space-between;">
					
					<a href="" style="max-height: 10px; text-decoration: none; color: white;" ng-click="previousPokemon(pokemon)">
						<i class="fas fa-arrow-left"></i>
					</a>
					
					<a href="" style="max-height: 10px; text-decoration: none; color: white;" ng-click="nextPokemon(pokemon)">
						<i class="fas fa-arrow-right"></i>
					</a>
					
				</div>
				<div class="bottom-right-nav-container">
				<div class="small-light red">
					<div class="dot light-red"></div>
				</div>
				<div class="dots-container">
					<div class="black-dot">.</div>
					<div class="black-dot">.</div>
					<div class="black-dot">.</div>
				</div>
				</div>
			</div>
			</div>
		</div>
		</div>
		<!-- End of Left panel -->
		
		<!-- Right-panel -->
		<div id="right-panel">
		<!-- Blank container -->
		<div class="empty-container">
			<svg height="100%" width="100%">
			<polyline
				points="0,0 0,40 138,40 158,75 250,75 250,0 0,0"
				style="fill: #f2f2f2; stroke: none; stroke-width: 3"
			/>
			<polyline
				points="0,40 138,40 158,75 250,75"
				style="fill: none; stroke: black; stroke-width: 3"
			/>
			</svg>
		</div>
		<!-- Top screen -->
		<div class="top-screen-container" ng-if="showPokemonInfo">
			<div id="about-screen" class="right-panel-screen">
			Altura: {{pokemon.height}}m Peso: {{pokemon.weight}}kg
			</div>
		</div>

		<!--POKEMON ABILITIES-->
		<div class="top-screen-container" ng-if="showPokemonAttack">
			<div id="about-screen" class="right-panel-screen">
			Ataque 1: {{pokemon.moves[65].move.name}} <br> Ataque 2: {{pokemon.moves[36].move.name}}
			</div>
		</div>

		<!--POKEMON HP-->
		<div class="top-screen-container" ng-if="showPokemonHP">
			<div id="about-screen" class="right-panel-screen">
				HP: {{pokemon.stats[0].base_stat}}
			</div>
		</div>

		<!--POKEMON ATK-->
		<div class="top-screen-container" ng-if="showPokemonStrenght">
			<div id="about-screen" class="right-panel-screen">
				ATTACK: {{pokemon.stats[1].base_stat}}
			</div>
		</div>

		<!--POKEMON DEFENSE-->
		<div class="top-screen-container" ng-if="showPokemonDefense">
			<div id="about-screen" class="right-panel-screen">
				DEFENSE: {{pokemon.stats[2].base_stat}}
			</div>
		</div>

		<!--POKEMON SPEED-->
		<div class="top-screen-container" ng-if="showPokemonSpeed">
			<div id="about-screen" class="right-panel-screen">
				SPEED: {{pokemon.stats[5].base_stat}}
			</div>
		</div>
		<!-- Blue Buttons -->
		<div class="square-buttons-container" style="cursor: pointer; z-index: 999;">
			<div class="blue-squares-container" >
			<div class="blue-square" ng-click="attackPokemon()" style="text-align: center;">
				<a href="" style="font-weight: bold; z-index: 9999; text-decoration: none; color: white; font-size: 10px; align-items: center; text-align: center; cursor: pointer;">AB</a>
			</div>
			<div class="blue-square" style="text-align: center;" ng-click="hpPokemon()">
				<a href="" style="font-weight: bold; z-index: 9999; text-decoration: none; color: white; font-size: 10px; align-items: center; text-align: center; cursor: pointer;">HP</a>
			</div>
			<div class="blue-square" style="text-align: center;" ng-click="strenghtPokemon()">
				<a href="" style="font-weight: bold; z-index: 9999; text-decoration: none; color: white; font-size: 10px; align-items: center; text-align: center; cursor: pointer;">ATK</a>
			</div>
			<div class="blue-square" style="text-align: center;" ng-click="defensePokemon()">
				<a href="" style="font-weight: bold; z-index: 9999; text-decoration: none; color: white; font-size: 10px; align-items: center; text-align: center; cursor: pointer;">DEF</a>
			</div>
			<div class="blue-square" style="text-align: center;" ng-click="speedPokemon()">
				<a href="" style="font-weight: bold; z-index: 9999; text-decoration: none; color: white; font-size: 10px; align-items: center; text-align: center; cursor: pointer;">SPD</a>
			</div>
			<div class="blue-square"></div>
			<div class="blue-square"></div>
			<div class="blue-square"></div>
			<div class="blue-square"></div>
			<div class="blue-square"></div>
			</div>
		</div>
		<!-- Center Buttons -->
		<div class="center-buttons-container">
			<div class="center-left-container">
			<div class="small-reds-container">
				<div class="small-light red">
				<div class="dot light-red"></div>
				</div>
				<div class="small-light red">
				<div class="dot light-red"></div>
				</div>
			</div>
			<div class="white-squares-container">
				<div class="white-square"></div>
				<div class="white-square"></div>
			</div>
			</div>
			<div class="center-right-container">
			<div class="thin-buttons-container">
				<div class="thin-button"></div>
				<div class="thin-button"></div>
			</div>
			<div class="yellow-button yellow">
				<div class="big-dot light-yellow"></div>
			</div>
			</div>
		</div>
		<!-- Bottom screens -->
		<div class="bottom-screens-container">
			<div id="type-screen" class="right-panel-screen">{{pokemon.types[0].type.name}}</div>
			<div id="id-screen" class="right-panel-screen">#{{pokemon.id}}</div>
		</div>
		</div>
		</div>
		<p><strong>Desenvolvido por João Henrique</strong></p>
	</body>
	<footer style="text-align:center" class="footer-app">
		
	</footer>
</div>