<div class="parent">
    <div ng-if="showPokemons">
        <div class="card mb-3" style="max-width: 200px; margin-top: 15px;" ng-repeat="pokemon in pokemons">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body" style="display:flex; justify-content: space-between;">
                        <h5 class="card-title" style="padding-right: 15px;">{{pokemon.name}}</h5>
                        <button class="edit-button" title="info pokemon" ng-click="infoPokemon(pokemon)" data-bs-toggle="modal" data-bs-target="#modal-info-pokemon"><i class="fas fa-pen"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div> 

     <!--MODAL INFO POKEMMON-->
     <div class="modal fade" id="modal-info-pokemon" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                            <div class="row" style="text-align: center;">    
                                <div class="col-sm">
                                    <img src={{pokemon.sprites.front_default}} alt="pokemon-photo" style="width: 200px"> 
                                </div>
                            </div>

                            <table>
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Tipos</th>
                                        <th>Altura</th>
                                        <th>Peso</th>
                                        <th>Habilidades</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{pokemon.name}}</td>
                                        <td>
                                            {{pokemon.types[0].type.name}} <br>
                                            {{pokemon.types[1].type.name}} 
                                        </td>
                                        <td>{{pokemon.height}}</td>
                                        <td>{{pokemon.weight}}</td>
                                        <td>
                                            {{pokemon.abilities[0].ability.name}} <br>
                                            {{pokemon.abilities[1].ability.name}}
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    
    
</div>